@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Paleta de cores
#FFA831
#006EB3
*/

:root {
    --fonte-destaque: 'Roboto', sans-serif;
    --fonte-padrao: 'Asap', sans-serif;

    --cor001: #FFA831;
    --cor002: #006EB3;
    --cor003: #706f6f;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor002);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.334);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section > article#imagem {
    background: url('../imagens/background.jpg') no-repeat;
    background-position: center center;
    height: 200px;
    background-size: cover;
    display: block;
}

section#login > article#formulario {
    padding: 10px;
    display: block;
}
